section {
  padding: 2em;
  text-align: center;
}

.searchInput {
  margin: 1em;
  font-size: 1em;
  padding: .75em;
  width: 250px;
}

.searchBtn {
  margin: 1em;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 1.5em;
  padding: .75em;
}
