.App {
  text-align: center;
}

body {
  background: steelblue;
  background-repeat: repeat;
}

header {
  background-color: #222;
  padding: 20px;
  color: white;
  height: 60px;
  line-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

header p {
  margin: 0;
}

header a {
  color: #fff;
  font-size: 1.25em;
}

button.col-1 {
  margin: .5em;
  display: inline-block;
  font-size: 1.25em;
  cursor: pointer;
  flex: none;
}

.search {
  margin: .5em;
  display: inline-block;
  font-size: 1.25em;
  cursor: pointer;
  flex: none;
}

.col-1 {
  flex-grow: 1;
}

.tagline {
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}
