.App {
  text-align: center;
}

header {
  background-color: #222;
  padding: 20px;
  color: white;
  height: 60px;
  line-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

header p {
  margin: 0;
}

header a {
  color: #fff;
}

button.col-1 {
  margin: .5em;
  display: inline-block;
  width: 20px;
  font-size: 1.25em;
}

.col-1 {
  flex: 1;
}
